:root {
  --background-color: var(--primary-low);
  --hover-color: var(--primary-medium);
}

.custom-filters {
  &__tags {
    display: flex;
    flex-direction: column;
  }

  &__group {
    display: flex;
    flex-direction: column;
    margin: 0.2rem 0;
  }
  &__list {
    display: flex;
    flex-direction: row;
  }
  &__button {
    display: flex;
    direction: row;
    padding: 0.5em 0.65em;
    background-color: var(--primary-low);
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    position: relative;
    border: 0px;
    margin: 1em 0 1em 1.25em;
  }
  &__button:hover {
    background-color: var(--primary-medium);
    color: white;
  }
}

.custom_tag {
  &.filter-tag-label {
    display: flex;
    direction: row;
    padding: 0.625em 1em !important;
    background-color: var(--background-color);
    box-shadow: var(--box-shadow);
    border: 0px;
    color: var(--primary);
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    position: relative;
    margin: 0 0.5rem;
    caret-color: transparent;

    &.filter-tag-label:hover {
      background-color: var(--hover-color);
      color: white;
    }

    &.checked {
      background-color: var(--hover-color);
      color: white;
    }
  }

  &.custom-filter-logic-selector {
    display: flex;
    direction: row;
    padding: 0.625em 1em !important;
    background-color: var(--primary-low);
    box-shadow: var(--box-shadow);
    border: 0px;
    color: var(--primary);
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    position: relative;
    margin: 0 0.5rem;
  }

  &.custom-filter-logic-selector:hover {
    background-color: var(--primary-medium);
  }

  &.checked {
    background-color: var(--primary-medium);
    color: white;
  }
}

.filter-tag-input {
  display: none;
}
